:root {
    --text-color: rgba(98, 98, 98, 1);
    --nav-color: rgba(125, 125, 125, 1);
    --subtitle-color: rgba(180, 173, 158, 1);
    --hover-color: rgba(3, 169, 244, 1);
}
:root {
    --main-font: "Playfair Display" , sans-serif;
    --second-font: "Ubuntu" , sans-serif;
}
body {
    font-family: var(--main-font);
    color: var(--text-color);
    font-size: 14px;
    line-height: 100%;
}
.container{
    width: 900px;
    margin: 0 auto;
}
/*header*/

/*hero*/
.hero{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: calc( 2 / (50px));
}
.photoblog{
    width: 420px;
    padding-top: 32px;
    padding-bottom: 40px;
}
.photoblog-subtitle{
    font-family: var(--second-font);
    color: var(--subtitle-color);
}
.photoblog-title{
    font-size: 30px;
}