.header{
    padding-top: 70px;
    padding-bottom: 95px;
}
.header-list{
    display: flex;
    gap: 100px;
    justify-content: center;
    list-style: none;
}
.header-item{
    text-decoration: none;
    text-transform: uppercase;
}
.header-link{
    text-decoration: none;
    color: $nav-color;
}
.header-link:hover{
    color: $hover-color;
}