
.photoblog{
    width: 420px;
    padding-top: 32px;
    padding-bottom: 40px;
}
.photoblog-subtitle{
    font-family: $second-font;
    color: $subtitle-color;
}
.photoblog-title{
    font-size: 30px;
}