
    $text-color: rgba(98, 98, 98, 1);
    $nav-color: rgba(125, 125, 125, 1);
    $subtitle-color: rgba(180, 173, 158, 1);
    $hover-color: rgba(3, 169, 244, 1);

    $main-font: "Playfair Display" , sans-serif;
    $second-font: "Ubuntu" , sans-serif;
