@use '../utils/variable' as *;
.header {
  padding-top: 71px;
  padding-bottom: 92px;
}
.header__list {
  display: flex;
  gap: 100px;
  justify-content: center;
}
.header__link {
  text-transform: uppercase;
  color: $nav-color;
  text-decoration: none;
}
.header__link:hover {
  color: $hover-color;
}
