@use '../utils/variable' as *;
.hero {
  margin-top: 94px;
  margin-bottom: 64px;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 130px;
          column-gap: 62px;
  padding-bottom: 90px;
}

.hero__item {
  -ms-flex-preferred-size: calc((100% - 62px) / 2);
      flex-basis: calc((100% - 62px) / 2);
}

.hero__image,
.hero__subtitle {
  margin-bottom: 32px;
}

.hero__title {
  font-size: 30px;
  color: var(--article-text-color);
}

.hero__subtitle {
  font-weight: 300;
  color: var(--article-text-color);
  font-size: inherit;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  color: var(--subtitle-color);
}

.hero__description {
  color: var(--article-text-color);
  padding-top: 44px;
}
